<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="myCtrl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Workshop1</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>

    <script src="js/jquery.animateNumber.min.js"></script>

    <script>
        var app = angular.module("myApp", []);
        app.controller('myCtrl', function($scope) {

            $scope.h = 180;
            $scope.w = 80;

            $scope.bmidata = [{
                "min": 0,
                "max": 18.5,
                "meaning": "น้ำหนักน้อย (ผอม)",
                "risk": "มากกว่าคนปกติ"
            }, {
                "min": 18.5,
                "max": 23.0,
                "meaning": "ปกติ (สุขภาพดี)",
                "risk": "เท่าคนปกติ"
            }, {
                "min": 23.0,
                "max": 25.0,
                "meaning": "ท้วม (โรคอ้วนระดับ 1)",
                "risk": "อันตรายระดับที่ 1"
            }, {
                "min": 25.0,
                "max": 30.0,
                "meaning": "อ้วน (โรคอ้วนระดับ 2)",
                "risk": "อันตรายระดับที่ 2"
            }, {
                "min": 30.0,
                "max": 100.0,
                "meaning": "อ้วนมาก (โรคอ้วนระดับ 3)",
                "risk": "อันตรายระดับที่ 3"
            }];

            $scope.bmicalculator = function() {
                var tmp = $scope.h / 100;
                $scope.bmi = $scope.w / (tmp * tmp);

                $('#numberanimation').animateNumber({
                    number: $scope.bmi.toFixed(2),
                    numberStep: function(now, tween) {
                        var target = $(tween.elem);
                        target
                            .prop('number', now)
                            .text(now.toFixed(2));
                    }
                });

                $scope.resetCSS();
                $scope.meaning = $scope.bmimeaning($scope.bmi);
            };

            $scope.bmimeaning = function(bmi) {
                for (i = 0; i < $scope.bmidata.length; i++) {
                    if (bmi >= $scope.bmidata[i].min && bmi < $scope.bmidata[i].max) {
                        if (i < 2) {
                            $scope.bmidata[i].css = 'success';
                        } else if (i == 2) {
                            $scope.bmidata[i].css = 'warning';
                        } else if (i > 2) {
                            $scope.bmidata[i].css = 'danger';
                        }
                        return $scope.bmidata[i].risk;
                    }
                }
            };

            $scope.resetCSS = function() {
                // for (i = 0; i < $scope.bmidata.length; i++) {
                //     $scope.bmidata[i].css = '';
                // }
                for (i in $scope.bmidata) {
                    $scope.bmidata[i].css = '';
                }
            };
            $scope.resetBMI = function() {
                $scope.bmi = 0;
            };
        });
    </script>

</head>

<body>
    <h2>ตารางแปลผลค่า BMI</h2>
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <td><strong>BMI kg/m2</strong></td>
                <td><strong>อยู่ในเกณท์</strong></td>
                <td><strong>ภาวะเสี่ยงต่อโรค</strong></td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="tmp in bmidata" ng-class="tmp.css">
                <td>มากกว่า {{tmp.min}} แต่น้อยกว่า {{tmp.max}}</td>
                <td>{{tmp.meaning}}</td>
                <td>{{tmp.risk}}</td>
            </tr>
        </tbody>
    </table>

    <div class="text-center" ng-init="h=190;w=70;">
        <form ng-submit="bmicalculator()">
            <div class="form-group">
                <label for="weight">Weight (KG)</label>
                <input required type="number" ng-model="w" ng-change="bmicalculator()" class="form-control" id="weight" placeholder="Please input your weight (KG)">
            </div>
            <div class="form-group">
                <label for="height">Height (CM)</label>
                <input required type="number" ng-model="h" ng-change="bmicalculator()" class="form-control" id="height" placeholder="Please input your height (KG)">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
            <button type="button" ng-click="resetBMI()" class="btn btn-default">Reset</button>
        </form>
        <h1 ng-if="bmi > 0 && bmi <= 100"> <span id="numberanimation" ng-bind="bmi | number:2"> </span> {{meaning}}</h1>
        {{w / (h/100 * h/100) | number:2}}
    </div>

</body>

</html>